/* HTML: <div class="loader"></div> */
html,body{
	background-color: #eee;
}
div.tabulator-cell[tabulator-field="control"]:hover{
	font-size: 16px;
	color: dodgerblue;
	transition-delay: 100ms;
}
.box{
	min-height: 300px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

